TELEGRAM_BOT_TOKEN=your_default_bot_token
TELEGRAM_CHAT_ID=your_default_chat_id

US_TELEGRAM_BOT_TOKEN=your_us_bot_token
US_TELEGRAM_CHAT_ID=your_us_chat_id

CN_TELEGRAM_BOT_TOKEN=your_cn_bot_token
CN_TELEGRAM_CHAT_ID=your_cn_chat_id

HK_TELEGRAM_BOT_TOKEN=your_hk_bot_token
HK_TELEGRAM_CHAT_ID=your_hk_chat_id
